<!DOCTYPE html>
<html>
<head>
  <title>Delete A Student</title>
</head>
<body>
<form  action = "/delete" method="POST">
    <input type = "text" name = "name" placeholder="Name">
    <button type = "submit">Save</button>
  </form>
</body>
</html>