#octo {
   top: 50%;
   left: 50%;
   width: 500px;
   height: 500px;
   margin-top: 400px; /* Half the height */
   margin-left: 800px; /* Half the width */
   
}

#glasses {
  position: absolute;
   z-index: 55;
   top: 65%;
   left: 50%;
   width: 500px;
   height: 500px;
   margin-top: -121px; /* Half the height */
   margin-left: -102px; /* Half the width */   
}

#hat {
  position: absolute;
   z-index: 10;
   top: 60%;
   left: 50%;
   width: 500px;
   height: 500px;
   margin-top: -210px; /* Half the height */
   margin-left: -162px; /* Half the width */   
}